/**
CSS Boilerplate
*/

@import url('../node_modules/bootstrap.native/assets/css/bootstrap.min.css');
@import url('../node_modules/bootswatch/darkly/bootstrap.min.css');
@import url('../node_modules/highlight.js/styles/default.css');
@import url('../node_modules/highlight.js/styles/monokai-sublime.css');

pre {
    outline: 1px solid #767676;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px;
}

textarea#input, code#output {
    width: 100%;
    height: 25em;
}
